.d-flex-column {
  display: flex;
  flex-direction: column;
}

form {
  width: 200px;
  margin: 0 auto;
  text-align: right;

  div {
    margin-bottom: 10px;
    padding-left: calc(5% - 4px);
    text-align: left;

    select,
    input {
      display: block;
      width: calc(95% - 4px);
    }
  }
}

.btn {
  display: inline-block;
  padding: 0 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20%;
  text-decoration: none;
  color: black;
  background-color: rgb(207, 207, 207);

  &:hover {
    color: rgb(65, 65, 65);
    background-color: rgb(160, 160, 160);
  }
}

table,
th,
td {
  border: 1px solid;
}

th {
  background-color: rgb(255, 255, 159);
}

.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  .ReactModal__Content {
    width: 400px;
    height: 400px;
    position: static !important;
  }
}
