.m-auto {
  margin: auto;
}

form {
  width: 200px;
  margin: 0 auto;
  text-align: right;

  div {
    margin-bottom: 10px;
    padding-left: calc(5% - 4px);
    text-align: left;

    input {
      display: block;
      width: calc(95% - 4px);
    }
  }
}

.buttons {
  width: 200px;
  margin: 10px auto 0 auto;
  text-align: right;
}

.btn {
  display: inline-block;
  width: 40px;
  height: 26px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20%;
  text-decoration: none;
  color: black;
  background-color: rgb(207, 207, 207);

  &:hover {
    color: rgb(65, 65, 65);
    background-color: rgb(160, 160, 160);
  }
}

table,
th,
td {
  border: 1px solid;
}

th {
  background-color: rgb(255, 255, 159);
}
